body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 4px solid #333;
}

.square {
  width: 60px;
  height: 60px;
}
.square:nth-child(odd) {
  background: #f0d9b5; 
}

.square:nth-child(even) {
  background: #b58863; 
.chessboard:nth-child(odd) .square:nth-child(odd),
.chessboard:nth-child(even) .square:nth-child(even) {
  background: #b58863; 
}

.chessboard:nth-child(odd) .square:nth-child(even),
.chessboard:nth-child(even) .square:nth-child(odd) {
  background: #f0d9b5; 
}
